@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: radial-gradient(ellipse at top, #181229 0%, #05040a 60%);
}

* {
  -webkit-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: text;
  user-select: text;
}
